<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE-ROLLING-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${BPS_BUDGET_LOG_FOLDER:-${user.home}/.local/share/bps-budget/logs}/bps-budget-server.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${BPS_BUDGET_LOG_FOLDER:-${user.home}/.local/share/bps-budget/logs}/bps-budget-server.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <maxFileSize>1MB</maxFileSize>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} %msg%n</pattern>
        </encoder>

    </appender>

    <appender name="STDOUT-DEBUG" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} %msg%n</pattern>
        </encoder>

    </appender>

    <!--  This should result in debug logs only from bps classes being logged
      and those only going to the FILE-ROLLING-DEBUG appender-->
    <logger name="bps" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE-ROLLING-DEBUG"/>
        <appender-ref ref="STDOUT-DEBUG"/>
    </root>

</configuration>
